# Merging 8 CSV files with CITI bikes data collected in 2018

In [1]:
import pandas as pd
import glob, os

In [2]:
bikes_file=open("bikes_data/combinedfile.csv","a")

In [3]:
# Reading the first file and saving headers:
for line in open("bikes_data/JC-201801-citibike-tripdata.csv"):
    bikes_file.write(line)

In [4]:
# Merging the rest of files with the main file:  
for num in range(2,9):
    f = open("bikes_data/JC-20180"+str(num)+"-citibike-tripdata.csv")
    
    next(f, None) # skip the header
    
    for line in f:
         bikes_file.write(line)
    f.close() # not really needed
bikes_file.close()

In [5]:
df = pd.read_csv("bikes_data/combinedfile.csv")

C:\Users\maria\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.7162,-74.0335,3199,Newport Pkwy,40.7287,-74.0321,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.7162,-74.0335,3199,Newport Pkwy,40.7287,-74.0321,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.7162,-74.0335,3199,Newport Pkwy,40.7287,-74.0321,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.7162,-74.0335,3267,Morris Canal,40.7124,-74.0385,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.7162,-74.0335,3639,Harborside,40.7193,-74.0342,31861,Subscriber,1991,1